div{
    background-color: red;
    width: 100px;
    height: 100px;
    animation-name: box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes box{
   20%{margin-left: 300px;}



}


