p{
 font-size: 40px;
 font-family: 'Courier New', Courier, monospace;
 color: #347928;

}

h1{
 font-family: 'Courier New', Courier, monospace;
 color: #e4bd0f;
}
 body{
 background-color: #C0EBA6;
 }